      <!-- Main Header-->
    <header class="main-header header-style-one">
      <!-- Header Top -->
      <div class="header-top">
        <div class="auto-container">

          <div class="top-left">
            <!-- Info List -->
            <ul class="info-list">
              <li><i class="fa-solid fa-envelope"></i> <a href="mailto:info@HAFCjo.com">info@HAFCjo.com</a></li>
              <li><i class="fa-solid fa-location-dot"></i> Seventh Circle Area, Ibrahim Al-Qattan Street, Building No. 91, First Floor, Amman, Jordan</li>
            </ul>
          </div>

          <div class="top-right">
            <ul class="useful-links">
              <li><a href="page-about.html">About</a></li>
              <li><a href="page-faq.html">Faqs</a></li>
              <li><a href="page-contact.html">Contact</a></li>
            </ul>
            <ul class="top-social-icon">
              <li><a href="https://jo.linkedin.com/company/hafc-jordan"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Header Top -->

      <!-- Main box -->
      <div class="main-box">
        <div class="logo-box">
          <div class="logo"><a href="index.html"><img src="images/logoH.png" alt="HAFC Logo" title="HAFC"></a></div>
        </div>
        <!--Nav Box-->
        <div class="nav-outer">
          <nav class="nav main-menu">
            <ul class="navigation">
              <li><a href="index.html">Home</a>
              <li><a href="page-about.html">About</a></li>
              <li><a href="page-team.html">Our Team</a></li>
              <li><a href="page-faq.html">Faq</a></li>
              </li>

              <li><a href="page-services.html">Services</a></li>

              <li><a href="page-contact.html">Contact</a></li>
            </ul>
          </nav>
          <!-- Main Menu End-->
        </div>
        <div class="outer-box">
          <div class="info-box">
            <div class="call-info">
              <i class="fa-solid fa-phone ring__animation"></i>
              <div>
                <h6 class="title">Phone:</h6>
                <a href="tel:+962793033636">(+962) 79-3033-636</a>
              </div>
            </div>
            <a class="btn-two" href="page-contact.html">Contact Now</a>
          </div>
          <div class="mobile-nav-toggler d-block d-lg-none"><i class="icon lnr-icon-bars"></i></div>
          <!-- Mobile Nav toggler -->
        </div>
      </div>
      <div class="auto-container">
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
          <div class="menu-backdrop"></div>
          <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
          <nav class="menu-box">
            <div class="upper-box">
              <div class="nav-logo"><a href="index.html"><img src="images/logoH.png" alt="HAFC Logo"></a></div>
              <div class="close-btn"><i class="icon fa fa-times"></i></div>
            </div>
            <ul class="navigation clearfix d-block d-lg-none">
              <!--Keep This Empty / Menu will come through Javascript-->
            </ul>
            <div class="content-box d-none d-lg-block">
              <h4 class="title">About HAFC</h4>
              <p class="text">HAFC is a full-service professional services firm based in Jordan, offering audit, consulting, tax, and financial services with local expertise and digital capabilities.</p>
            </div>
            <ul class="contact-list-one">
              <li>
                <!-- Contact Info Box -->
                <div class="contact-info-box">
                  <i class="icon lnr-icon-phone-handset"></i>
                  <span class="title">Call Now</span>
                  <a href="tel:+962793033636">(+962) 79-3033-636</a>
                </div>
              </li>
              <li>
                <!-- Contact Info Box -->
                <div class="contact-info-box">
                  <span class="icon lnr-icon-envelope1"></span>
                  <span class="title">Send Email</span>
                  <a href="mailto:info@HAFCjo.com">info@HAFCjo.com</a>
                </div>
              </li>
              <li>
                <!-- Contact Info Box -->
                <div class="contact-info-box">
                  <span class="icon lnr-icon-clock"></span>
                  <span class="title">Business Hours</span>
                  Sun - Thu 8:00 - 5:00, Friday - CLOSED
                </div>
              </li>
            </ul>
            <ul class="social-links">
              <li><a href="https://jo.linkedin.com/company/hafc-jordan"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </nav>
        </div>
        <!-- End Mobile Menu -->
        <!-- Header Search -->
        <div class="search-popup">
          <span class="search-back-drop"></span>
          <button class="close-search"><span class="fa fa-times"></span></button>
          <div class="search-inner">
            <form method="post" action="#">
              <div class="form-group">
                <input type="search" name="search-field" value="" placeholder="Search..." required="">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- End Header Search -->

        <!-- Sticky Header  -->
        <div class="sticky-header">
          <div class="auto-container">
            <div class="inner-container">
              <!--Logo-->
              <div class="logo">
                <a href="index.html"><img src="images/logoH.png" alt="HAFC Logo"></a>
              </div>
              <!--Right Col-->
              <div class="nav-outer">
                <!-- Main Menu -->
                <nav class="main-menu">
                  <div class="navbar-collapse show collapse clearfix">
                    <ul class="navigation clearfix">
                      <!--Keep This Empty / Menu will come through Javascript-->
                    </ul>
                  </div>
                </nav><!-- Main Menu End-->
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
              </div>
            </div>
          </div>
        </div><!-- End Sticky Menu -->
      </div>
    </header>
    <!--End Main Header -->

